body {
    background-color: #ECF0F1;
    font-family: Arial, sans-serif;
}
h1 {
    color: #34495E;
    text-align: center;
    font-size: 55px;
}
h2 {
    color: #34495E;
    text-align: center;
    border: 2px solid #2C3E50;
    padding: 10px;
    margin: 20px 200px;
    border-radius: 7px;
}
p {
    color: #34495E;
    text-align: center;
}

/* Button Container: Stack Vertically */
.button-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;    /* Center buttons horizontally */
    gap: 20px;              /* Space between buttons */
}

/* Shared Button Styles */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 40px 60px;
    font-size: 50px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    gap: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover Effect */
.button:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

/* YouTube Button */
.yt-button {
    background-color: #FF0000;
}
.yt-button:hover {
    background-color: #C1351D;
}

/* Instagram Button */
.ig-button {
    background-color: #C13584;
}
.ig-button:hover {
    background-color: #F1C40F;
}

/* Twitter Button */
.tw-button {
    background-color: #1DA1F2;
}
.tw-button:hover {
    background-color: #0D8AE5;
}

/* Button Icons */
.button-icon {
    width: 60px;
    height: 60px;
}
